<% include header %>

<p>Here at MusicNewz, we strive to give our followers all news music! From The Black Keys to that one rapper who thinks he's Jesus,</p>
<p>we will email you all music related news because we believe email is the best way to give you all the latest updates.</p>
<br>
<p>Thanks again for choosing MusicNewz as your source for all NewzMusic!</p>

<% include footer %>