        </div>
        <footer>
            <% if(typeof hideBackLink === 'undefined' || hideBackLink == false) { %>
                <a href="/"><< GoBack!</a>
            <% } %>
        </footer>
    </body>
</html>