<!DOCTYPE HTML>
<html>
<head>
    <title>MusicNewz</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>
<h1>MusicNewz SignUp</h1>
<h2><%= locals.settings.subtitle %></h2>
<div id="content">