<% include header %>

            Welcome to MusicNewz! Sign-up your email below to retrieve all news related to music!
            <ol>
                <li><a href="/simpleForm">About Us</a> - Learn about MusicNewz</li>
                <li><a href="/user/create">Sign Up</a> - Sign up here using your email and user password</li>
                <li><a href="/user/all">MusicNewzUsers</a> - Displays all MusicNewz users</li>
            </ol>


<% var hideBackLink = true; %>
<% include footer %>